body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #0f172a;
  color: white;
}

h1 {
    color: black;
}

img {
    width: 200px;
    height: 200px;
}

#quiz {
  background-color: aliceblue;
  border-radius: 15px;
  padding: 20px;
  max-width: 340px;
  width: 100%;
  margin: auto;
    align-items: center;
  justify-items: center;
}

#quiz form {
  width: 100%;

}


img {
  width: 250px; 
  margin: 20px;
  border-radius: 10px;
}

.choices {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  gap: 10px;
  justify-content: center;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

#result {
  margin: 15px;
  font-size: 18px;
}
